body {
    font-family: "Nunito";
    scroll-behavior: smooth;
}
.bg {
    background-color: #ebf2fa;
}

.info-box {
    min-height: 100px;
}

.gelap {
    background-color: magenta !important;
    color: #000;
}
